.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  min-height:90vh;
  margin-left:20%;
  min-width:50%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather-dropdown{
  display:block;
  margin-bottom: 30px;
  text-align: left;

  
}
.city-weather{
  float:left;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  /*max-height:10vh;*/
  width:30%; 
  border-radius: 10px;
  
  
}
.city-weather .header, .city-5d-weather .header{
  background: #cccccc;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  padding:10px;
  border-radius: 10px 10px 0 0;
  text-align: left;
  
}

.city-weather .body{
  /* display:block; */
  position: relative;
}


.city-weather .city-status{
  text-align: left;
  list-style-type:none;
  float:left;
  padding-left:10px;
}

.city-weather .body .forcast-button{
  position: absolute;
  bottom: -100px;
  float:right;
  margin-right:10px;
}

.city-5d-weather{
  margin-left: 30px;
  float:left;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  /*max-height:10vh;*/
  width:60%; 
  border-radius: 10px;
  
}

.city-5d-weather .body{
  padding:30px;
  text-align: left;
}

.city-5d-weather .forcast-close-btn{
  position: relative;
  float:right
}


